
@{
    ViewBag.Title = "ConfirmVoucher";
}

<section>
    <div>
        <div>
            <h5>Scan barcode or enter manually</h5>
            <div></div>
        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</section>

