@model EvoucherBackOffice.Web.ViewModel.ConfirmVoucherViewModel
@{
    ViewBag.Title = "ConfirmVoucher";
}

<section class="confirm-voucher">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                @Html.Partial("_Logo")
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="confirm-voucher__panel text-center">
                    <div class="confirm-voucher__panel-header">
                        <div>
                            <h6 class="confirm-voucher__panel-header-title">Scan barcode or enter manually</h6>
                        </div>
                        <div>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="confirm-voucher__panel-form">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="confirm-voucher__panel-form-input-wrapper">
                                        @Html.TextBoxFor(m => m.VoucherNumber, new { @class = "confirm-voucher__panel-form-input form-control", placeholder = "e-mail address", type = "text" })
                                    </div>
                                </div>
                                <div class="confirm-voucher__panel-form-item-error col-md-12">
                                    @Html.ValidationMessageFor(m => m.VoucherNumber)
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="confirm-voucher__panel-form-button" type="submit">
                                    <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


