
@{
    ViewBag.Title = "DisplayVoucher";
}

<section>
    <div>
        <div>
            <h5>Redeem Voucher</h5>
            <div></div>
        </div>
        <div>

        </div>
    </div>
</section>

