
@{
    ViewBag.Title = "Voucher Not Found";
}

<section>
    <div>
        <div>
            <h5>Notification</h5>
            <div></div>
        </div>
        <div>

        </div>
    </div>
</section>