
@{
    ViewBag.Title = "Forgot Password";
}

<section>
    <div>
        logo
    </div>
    <div>
        <div>
            <h5></h5>
            <div></div>
        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</section>


