@model EvoucherBackOffice.Web.ViewModel.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<style>
    .forgot-password-input {
        background-color: #0ab4cd;
        width: 90%;
        height: 40px;
        padding: 12px 0px;
        margin: 0px 0;
        display: inline-block;
        border-top: none;
        border-left: none;
        border-right: none;
        border-style: none;
        border-bottom: 1px solid #ffffff;
        border-radius: 0px;
        box-sizing: border-box;
        color: black;
        box-shadow: none;
    }

        .forgot-password-input:focus {
            background-color: #0ab4cd;
            display: inline-block;
            border-top: none;
            border-left: none;
            border-right: none;
            border-style: none;
            border-bottom: 2px solid black;
            border-radius: 0px;
            box-sizing: border-box;
            color: black;
            box-shadow: none;
        }

        .forgot-password-input::-webkit-input-placeholder {
            color: white;
        }

        .forgot-password-input:-moz-placeholder {
            color: white;
        }

        .forgot-password-input::-moz-placeholder {
            color: white;
        }

        .forgot-password-input:-ms-input-placeholder {
            color: white;
        }
</style>
<section class="forgot-password">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="forgot-password__logo-wrapper pull-right">
                    @Html.Partial("_Logo")
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="forgot-password__panel text-center">
                    <div class="forgot-password__panel-header">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="forgot-password__panel-header-title">Forgot Password</h4>
                            </div>
                            <div class="col-md-5">
                                <div class="forgot-password__panel-nav-body dropdown pull-right">
                                    <a class="forgot-password__panel-nav-icon-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="forgot-password__panel-nav-icon glyphicon glyphicon-option-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height:60px; width:290px; margin: 10px 30px 0px 0px;border-radius:0px;">
                                        <div class="forgot-password__panel-nav-item">
                                            <a class="forgot-password__panel-nav-item-link dropdown-item" href="@Url.Action("Login", "Account", null)">
                                                <span class="forgot-password__panel-nav-item-title-1">Back to Login screen</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forgot-password__panel-form">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="forgot-password__panel-form-item-wrapper">
                                        <div class="forgot-password__panel-form-icon-wrapper">
                                            <span id="forgot-password-icon" class="fa fa-envelope fa-2x"></span>
                                        </div>
                                        <div class="forgot-password__panel-form-input-wrapper">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "forgot-password-input form-control", placeholder = "e-mail address", id= "forgot-password-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="forgot-password__panel-form-item-error col-md-12">
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="forgot-password__panel-form-button" type="submit">
                                    <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#forgot-password-input").focusin(function () {
            $("#forgot-password-icon").css("color", "black");
        });
        $("#forgot-password-input").focusout(function () {
            $("#forgot-password-icon").css("color", "white");
        });
    });
</script>


