@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="forgot-password-confirmation">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                @Html.Partial("_Logo")
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="forgot-password-confirmation__panel text-center">
                    <div class="forgot-password-confirmation__panel-header">
                        <div>
                            <h5 class="forgot-password-confirmation__panel-header-title">Notification</h5>
                        </div>
                        <div>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="forgot-password-confirmation__panel-body">
                       <p class="forgot-password-confirmation__panel-message">A message has been sent to your email address.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

