@{
    ViewBag.Title = "Reset Password Confirmation";
}

<section class="reset-password-confirmation">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="reset-password-confirmation__logo-wrapper pull-right">
                    @Html.Partial("_Logo")
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="reset-password-confirmation__panel text-center">
                    <div class="reset-password-confirmation__panel-header">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="reset-password-confirmation__panel-header-title">Notification</h4>
                            </div>
                            <div class="col-md-5">
                                <div class="reset-password-confirmation__panel-nav-body dropdown pull-right">
                                    <a class="reset-password-confirmation__panel-nav-icon-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="reset-password-confirmation__panel-nav-icon glyphicon glyphicon-option-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height:60px; width:290px; margin: 10px 30px 0px 0px;border-radius:0px;">
                                        <div class="reset-password-confirmation__panel-nav-item">
                                            <a class="reset-password-confirmation__panel-nav-item-link dropdown-item" href="#">
                                                <span class="reset-password-confirmation__panel-nav-item-title-1">Back to Login Screen</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reset-password-confirmation__panel-body">
                        <p class="reset-password-confirmation__panel-body-message">Your password was reset successfully!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

