@{
    ViewBag.Title = "Reset Password Confirmation";
}

<section class="reset-password-confirmation">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                @Html.Partial("_Logo")
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="reset-password-confirmation__panel text-center">
                    <div class="reset-password-confirmation__panel-header">
                        <div>
                            <h5 class="reset-password-confirmation__panel-header-title">Notification</h5>
                        </div>
                        <div>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="reset-password-confirmation__panel-body">
                        <p class="reset-password-confirmation__panel-body-message">Your password was reset successfully!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

