@model EvoucherBackOffice.Web.ViewModel.ExperienceViewModel

<div class="experience-summary">
    <div class="col-md-8">
        <div class="experience-summary__item">
            <div class="row">
                <div class="col-md-10 p-0">
                    <div class="experience-summary__item-section-1">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="experience-summary__item-description-wrapper">
                                    <p class="experience-summary__item-description">@Model.ShortDescription</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="experience-summary__item-price-wrapper">
                                    <p class="experience-summary__item-price">£ @Model.Price</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="experience-summary__item-decrease-button-wrapper pull-right">
                                    <button id="decreaseItem-@{@Model.Code}" class="experience-summary__item-decrease-button">
                                        <span class="fa fa-minus fa-inverse"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="experience-summary__item-increase-button-wrapper">
                                    <button id="increaseItem-@{@Model.Code}" class="experience-summary__item-increase-button">
                                        <span class="fa fa-plus fa-inverse"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="experience-summary__item-section-2">
                        <input id="displayQuantity-@{@Model.Code}" class="experience-summary__item-quantity text-center" type="text" value="0" readonly/>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="experience-summary__item-section-3" id="lineSummary-@{@Model.Code}">
                        <p>
                            <span>X </span><span id="totalQuantity-@{@Model.Code}">0</span>
                        </p>
                        <p>
                            <span>TOT. </span><span> £</span><span class="experience-summary__item-line-total" id="totalPrice-@{@Model.Code}">0</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {


        $("#lineSummary-@Model.Code").hide();
        $("#basketTotal").hide();
        var price = @Model.Price;

        $("#decreaseItem-@Model.Code").click(function (evt) {
            var basketItems= new Array();
            var itemVal = $("#displayQuantity-@Model.Code").val();
            if (itemVal == 0) {
                $("#decreaseItem-@Model.Code").prop("disabled", true);
                evt.preventDefault();              
                return;
            }
            itemVal--;
            if (itemVal == 0) {
                $("#decreaseItem-@Model.Code").prop("disabled", true);
                $("#lineSummary-@Model.Code").hide();
                evt.preventDefault();
            }

            //hhfgfg
            var postData = { 
                "VoucherCode":@Model.Code,
                "Qty":itemVal
            };
            var strObj = JSON.stringify(postData);
            $.ajax({
                url: "/Cart/RemoveFromCart",
                type: 'POST',
                dataType: 'json',
                data: strObj,
                success: function (data) {}
            });
            //Blur

            $("#displayQuantity-@Model.Code").val(itemVal);
            $("#totalQuantity-@Model.Code").html(itemVal);
            evt.preventDefault();
            var lineTotal = price * itemVal;
            $("#totalPrice-@Model.Code").html(lineTotal);

            //daas

            $(".experience-summary__item-line-total").each(function(index, elem) {
                basketItems.push(parseInt($(this).html()));
            });
            var bas = eval(basketItems.join("+"));
            if(bas == 0){
                $("#basketTotal").hide();
                return;
            }
            $("#totalPrice").html(bas);
            $("#basketTotal").show();         
        });

        $("#increaseItem-@Model.Code").click(function (evt) {
            var basketItems= new Array();
            var itemVal = $("#displayQuantity-@Model.Code").val();
            if (itemVal == 0) {
                $("#decreaseItem-@Model.Code").prop("disabled", false);
                evt.preventDefault();
            }

            itemVal++;

            if (itemVal > 0) {
                $("#lineSummary-@Model.Code").show();
                evt.preventDefault();
            }

            $("#displayQuantity-@Model.Code").val(itemVal);
            $("#totalQuantity-@Model.Code").html(itemVal);
            evt.preventDefault();
            var lineTotal = price * itemVal;
            $("#totalPrice-@Model.Code").html(lineTotal);

            //daaas

            $(".experience-summary__item-line-total").each(function(index, elem) {
                basketItems.push(parseInt($(this).html()));
            });
            var bas = eval(basketItems.join("+"));

            $("#totalPrice").html(bas);
            $("#basketTotal").show();

            //haasd
            var postData = { 
                "VoucherCode":@Model.Code,
                "Qty":itemVal
            };
            var strObj = JSON.stringify(postData);
            $.ajax({
                url: "/Cart/AddToCart",
                type: 'POST',
                dataType: 'json',
                data: strObj,
                success: function (data) {}
            });
        });
    });
</script>
