@import "../variables";
.login{

    margin: 38px 0px 0px 405px;
    @media screen and (max-width: 1024px) {
      margin:0px;
    }

      &__logo-wrapper{
       margin-right:235px;
       @media screen and (max-width: 1024px) {
         margin: 10px 40px 0px 0px;
       }
    }
  
    &__panel{
        margin: 100px 0px 0px 150px;
         width: 430px;
       @media screen and (max-width: 1024px) {
        margin: 95px 20px 0px 265px;
       }
    }
    &__panel-header{
       height: 100px;
       width: 100%;
       background-color:$color-background-alt;
       padding-top: 40px;
    }

    &__panel-header-title{
       color: $color-text-alt;
    }

    &__panel-form{
       height: 262px;
       width: 100%;
       background-color:$color-background;
       padding: 30px 0px 0px 0px;
    }

    &__panel-form-input{
        background-color:$color-background;
        width: 100%;
        height: 40px;
        /*padding: 12px 20px;
        margin: 12px 0;*/
        display: inline-block;
        border-bottom: 1px solid $color-border-alt3;
        border-radius: 0px;
        box-sizing: border-box;
    }

    &__panel-form-item-wrapper{
          height: 50px;
          padding: 0px 10px 0px 15px;
    }
    &__panel-form-icon-wrapper{
        float:left;      
        height:100%;   
        color:$color-text-alt;
        padding: 12px 0px 0px 0px;
    }
    &__panel-form-input-wrapper{
        float:right;
        width:82%;
        height: 100%;           
        color: $color-text-alt;
        padding: 9px 0px 0px 0px;
    }

    &__panel-form-item-error{
        width: 100%;
        height: 20px;
        margin-top:-10px;
        margin-left:-60px;
        display: inline-block;
        color: $color-text-alert;
        font-size:12px;
    }

    &__panel-form-button-wrapper{
       
    }
    &__panel-form-button{
        color: $color-text-alt3;
        background-color:$color-background;
        font-size: 15px; 
        font-weight: bold; 
        border:1px solid $color-text-alt; 
        border-radius:50px;         
        height:100px; 
        width: 100px;
        margin: 45px 0px 0px 0px;
        &:focus{
          outline:none;
        }
    }

    &__panel-form-button-icon{
        
    }
      
     &__other-info-wrapper{
     width: 25%;
     margin: 110px 0px 0px 290px;

     @media screen and (max-width: 1024px) {
        margin: 110px 0px 0px 60px;
       }       
    }

    &__other-info-title{
        color: $color-text-alt;

    }

    &__other-info-title-link{
        text-decoration:none;
        &:hover{
            text-decoration:underline;
            text-decoration-color:$color-text-alt;
        }
    }
}
