@import "../variables";

.error-page{
    margin: 38px 0px 0px 405px;
    @media screen and (max-width: 1024px) {
      margin:0px;
    }

    &__panel{
        margin: 100px 0px 0px 40px;
        width: 430px;
    }

    &__panel-header{
       height: 100px;
       width: 100%;
       background-color:$color-background-alt;
       padding-top: 40px; 
    }
    &__panel-header-title{
        color: $color-text-alt;
    }
    &__panel-body{
       height: 262px;
       width: 100%;
       background-color:$color-background;
       padding: 70px 30px 0px 30px;
    }

    &__panel-message{
         color: $color-text-alt;
         font-size: 18px;
    }
}
