@import "../variables";
.home-index{
    margin: 38px 0px 0px 405px;
    @media screen and (max-width: 1024px) {
      margin:0px;
    }

    &__logo-wrapper{
       margin-right:235px;
       @media screen and (max-width: 1024px) {
         margin: 20px 40px 0px 0px;
       }
    }

    &__panel{
         margin: 100px 0px 0px 150px;
         width: 430px;
       @media screen and (max-width: 1024px) {
        margin: 75px 20px 0px 265px;
       }
    }

    &__panel-header{
       height: 100px;
       width: 100%;
       background-color:$color-background-alt;
       padding-top: 32px;
       padding-left: 65px; 
    }

    &__panel-header-title{
        color: $color-text-alt;
    }

    &__panel-nav-body{
      margin-right: 10px;
    }

    &__panel-nav-section{

    }

    &__panel-nav-item{
      padding:12px 0px 0px 30px;
    }

     &__panel-nav-item-link{
         width:60%;
        &:hover{
            text-decoration: underline;
            text-decoration-color:$color-background-alt;
        }
    }

    &__panel-nav-item-title-1{
      font-size:16px;
      font-weight:bold;
      color: $color-text;
      margin-bottom: 20px;
    }

    &__panel-nav-icon{
       color:$color-text-alt; 
       font-size: 35px;
    }

    &__panel-nav-icon-link{

        cursor:pointer;
       &:hover{
           
       }     
    }

    &__panel-body{
       height: 450px;
       width: 100%;
       background-color:$color-background;
       padding: 30px 0px 0px 0px;
    }

    &__panel-section-wrapper-1{
        height: 224px;
    }

    &__panel-section-wrapper-2{
        height: 224px;
        margin: -10px 0px 0px 0px;
    }

    &__panel-section-title{
        color: $color-text-alt;
        margin: 12px 0px 0px 0px;
        font-size: 15px;
    }

    &__panel-section-button{
        color: $color-text-alt3;
        background-color:$color-background;
        font-size: 15px; 
        font-weight: bold; 
        border:1px solid $color-text-alt; 
        border-radius:50px;         
        height:100px; 
        width: 100px;
        margin: 30px 0px 0px 0px;
        padding: 25px 0px 0px 0px;
        &:focus{
          outline:none;
        }
    }

     &__panel-section-button-link{
           border-radius:100px;         
        height:100px; 
        width: 100px;
         box-sizing:border-box;

        &:hover{
            text-decoration:none;
        }
    }

    &__panel-section-line-wrapper{
        margin: -60px 0px 0px 0px;
    }

    &__panel-section-line{
        background-color: $color-background-alt2;
        height:1px;
    }
}