@import "../variables";
.confirm-voucher{
    margin: 38px 0px 0px 405px;
    @media screen and (max-width: 1024px) {
      margin:0px;
    }

     &__logo-wrapper{
       margin-right:235px;
       @media screen and (max-width: 1024px) {
         margin: 10px 40px 0px 0px;
       }
    }

    &__panel{
         margin: 100px 0px 0px 150px;
         width: 430px;
       @media screen and (max-width: 1024px) {
        margin: 95px 20px 0px 265px;
       }
    }

    &__panel-header{
       height: 100px; 
       width: 100%;
       background-color:$color-background-alt;
       padding-top: 32px;
       padding-left: 65px;  
    }

    &__panel-header-title{
       color: $color-text-alt;
    }

       &__panel-nav-body{
      margin-right: 10px;
    }

    &__panel-nav-section{

    }

    &__panel-nav-item{
      padding:12px 0px 0px 30px;
    }

     &__panel-nav-item-link{
         width:60%;
        &:hover{
            text-decoration: underline;
            text-decoration-color:$color-background-alt;
        }
    }

    &__panel-nav-item-title-1{
      font-size:16px;
      font-weight:bold;
      color: $color-text;
      margin-bottom: 20px;
    }

    &__panel-nav-item-title-2{
      font-size:16px;
      font-weight:bold;
      color: $color-text;
      margin-bottom: 20px;
    }

    &__panel-nav-item-title-3{
      font-size:16px;
      font-weight:bold;
      color: $color-text;
    }

    &__panel-nav-icon{
       color:$color-text-alt; 
       font-size: 35px;
    }

    &__panel-nav-icon-link{

        cursor:pointer;
       &:hover{
           
       }     
    }

    &__panel-form{
       height: 262px;
       width: 100%;
       background-color:$color-background;
       padding: 40px 0px 0px 0px;
    }

    &__panel-form-input-wrapper{
        float:right;
        width:100%;
        height: 100%;           
        color: $color-text-alt;
        padding: 9px 0px 0px 0px;
    }

    &__panel-form-input {
        background-color:$color-background;
        width: 100%;
        height: 40px;
        /*padding: 12px 20px;
        margin: 12px 0;*/
        display: inline-block;
        border-bottom: 1px solid $color-border-alt3;
        border-radius: 0px;
        box-sizing: border-box;
    }

    &__panel-form-item-error{
        width: 100%;
        height: 20px;
        margin-top:10px;   
        color: $color-text-alert;
        font-size:12px;
    }

    &__panel-form-button{
        color: $color-text-alt3;
        background-color:$color-background;
        font-size: 15px; 
        font-weight: bold; 
        border:1px solid $color-text-alt; 
        border-radius:50px;         
        height:100px; 
        width: 100px;
        margin: 75px 0px 0px 0px;
        &:focus{
          outline:none;
        }
    }
}