@import "../variables";

.display-voucher{
    margin: 70px 0px 0px 430px;
    @media screen and (max-width: 1024px) {
       margin: 0px 0px 0px 145px;
    }

    &__panel{
      margin: 90px 0px 0px 25px; 
      width: 655px; 
    }

    &__panel-header{
       height: 100px;
       width: 100%;
       background-color:$color-background-alt;
       padding-top: 32px;
       padding-left: 98px; 
    }

    &__panel-header-title{
       color: $color-text-alt;
    }

    &__panel-body{
       height: 490px;
       width: 100%;
       background-color:$color-background;
       padding: 40px 0px 0px 45px;
    }

    &__panel-section-wrapper{
        color: $color-text-alt;      
    }

     &__panel-item{
       padding: 3px 0px 3px 0px;

    }

    &__panel-item-title{
        font-size: 18px;
    }
     &__panel-item-key{
         border:none;
    }
    
    &__panel-item-value{
        border:none;
    }
       
    &__panel-button{
        color: $color-text-alt;
        background-color:$color-button;
        font-size: 15px; 
        font-weight:100;        
        height:60px; 
        width: 160px;
        margin: 35px 35px 0px 0px;

        &:focus{
          outline:none;
        }
    }

    &__panel-line{
        background-color: $color-background-alt2;
        width: 50%;
    }

     &__panel-line-wrapper{
         width: 50%;
    }
}
