@{
    ViewBag.Title = "Action Page";
}

<section class="home-index">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                @Html.Partial("_Logo")
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="home-index__panel text-center">
                    <div class="home-index__panel-header">
                        <div>
                            <h6 class="home-index__panel-header-title">Please choose an action</h6>
                        </div>
                        <div>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="home-index__panel-body">
                        <div class="col-md-12">
                            <div class="home-index__panel-section-wrapper">
                                <div>
                                    <h6 class="home-index__panel-section-title">REDEEM EXISTING VOUCHER</h6>
                                </div>
                                <div class="text-center">
                                    <a class="home-index__panel-section-button-link" href="@Url.Action("ConfirmVoucher", "Voucher", null)">                                      
                                        <span class="home-index__panel-section-button fa fa-arrow-right fa-3x fa-inverse"></span>                                      
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                        <div>
                            <hr  class="home-index__panel-section-line"/> 
                        </div>

                        <div class="col-md-12">
                            <div class="home-index__panel-section-wrapper">
                                <div>
                                    <h6 class="home-index__panel-section-title">CREATE NEW VOUCHERS</h6>
                                </div>
                                <div class="text-center">
                                    <a class="home-index__panel-section-button-link" href="@Url.Action("CreateNewVoucher", "Voucher", null)">
                                        <span class="home-index__panel-section-button fa fa-arrow-right fa-3x fa-inverse"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

