@{
    ViewBag.Title = "Home Page";
}

<section>
    <div>

    </div>
    <div>
        <div>
            <h5></h5>
            <div></div>
        </div>
        <div>
            <h5></h5>
            <div></div>
        </div>
        <div>
            <h5></h5>
            <div></div>
        </div>
    </div>
</section>