@{
    ViewBag.Title = "Action Page";
}

<section class="home-index">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                <div class="home-index__logo-wrapper">
                    <img class="home-index__logo" src="~/Images/1b368effb130385264a163007d7931df.png" alt="Logo">
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="home-index__panel text-center">
                    <div class="home-index__panel-header">
                        <div>
                            <h6 class="home-index__panel-header-title">Please choose an action</h6>
                        </div>
                        <div>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="home-index__panel-body">
                        <div class="col-md-12">
                            <div class="home-index__panel-section-wrapper">
                                <div>
                                    <h6 class="home-index__panel-section-title">REDEEM EXISTING VOUCHER</h6>
                                </div>
                                <div class="text-center">
                                    <button class="home-index__panel-section-button">
                                        <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                       
                        <div>
                            <hr  class="home-index__panel-section-line"/>
                        </div>

                        <div class="col-md-12">
                            <div class="home-index__panel-section-wrapper">
                                <div>
                                    <h6 class="home-index__panel-section-title">CREATE NEW VOUCHERS</h6>
                                </div>
                                <div class="text-center">
                                    <button class="home-index__panel-section-button">
                                        <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

