@import "../variables";
.checkout{
     margin: 70px 30px 0px 180px;
    @media screen and (max-width: 1024px) {
      margin: 0px 51px 0px 0px;
    }
    &__panel{
       margin: 35px 0px 0px 90px; 
       width: 812px;
    }

    &__panel-header{
       height: 100px;
       width: 100%;
       background-color:$color-background-alt;
       padding-top: 32px;
       padding-left: 250px;  
    }

    &__panel-header-title{
         color: $color-text-alt;
    }

       &__panel-nav-body{
      margin-right: 10px;
    }

    &__panel-nav-section{

    }

    &__panel-nav-item{
      padding:12px 0px 0px 30px;
    }

     &__panel-nav-item-link{
        &:hover{
            text-decoration: underline;
            text-decoration-color:$color-background-alt;
        }
    }

    &__panel-nav-item-title-1{
      font-size:16px;
      font-weight:bold;
      color: $color-text;
      margin-bottom: 20px;
    }

    &__panel-nav-item-title-2{
      font-size:16px;
      font-weight:bold;
      color: $color-text;
    }

    &__panel-nav-icon{
       color:$color-text-alt; 
       font-size: 35px;
    }

    &__panel-nav-icon-link{
       cursor:pointer;
       &:hover{}     
    }

    &__panel-body{
       height: 620px;
       width: 100%;
       background-color:$color-background;
       padding: 10px 20px 0px 20px;
    }

    &__panel-form{
       margin: -50px 0px 0px 0px;
       color: $color-text-alt; 
    }

    &__panel-form-item{

    }

    &__panel-form-item-error{
        margin: 10px 0px 0px 205px;
        color:$color-text-alert;
        width: 100%;
        height: 20px;
        display: inline-block;
        font-size:12px;
    }

    &__panel-form-button-wrapper{
         margin: 90px 0px 0px 40px;
    }

    &__panel-form-button-1{
        color: $color-text-alt;
        background-color:$color-button-alt2;
        font-size: 15px; 
        font-weight:100;        
        height:60px; 
        width: 160px;
        margin: 70px 35px 0px 0px;
        border:none;

        &:hover{
            background-color:darken($color-button-alt2, 10%);
        }
        &:focus{
          outline:none;
        }
    }

    &__panel-form-button-2{
        color: $color-text-alt;
        background-color:$color-button;
        font-size: 15px; 
        font-weight:100;        
        height:60px; 
        width: 160px;
        margin: 35px 35px 0px 0px;
        border:none;

        &:hover{
            background-color:darken($color-button, 10%);
        }

        &:focus{
          outline:none;
        }
    }

}
