@model EvoucherBackOffice.Web.ViewModel.ExperiencesViewModel
@{
    ViewBag.Title = "Experiences";
}

<section id="BasketDetail" class="experiences">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="experiences__panel">
                    <div class="experiences__panel-header text-center">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="experiences__panel-header-title">New Voucher</h4>
                            </div>
                            <div class="col-md-5">
                                <div class="experiences__panel-nav-body dropdown pull-right">
                                    <a class="experiences__panel-nav-icon-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="experiences__panel-nav-icon glyphicon glyphicon-option-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height:100px; width:290px; margin: 10px 30px 0px 0px;border-radius:0px;">
                                        <div class="experiences__panel-nav-item">
                                            <a class="experiences__panel-nav-item-link dropdown-item" href="@Url.Action("ConfirmVoucher", "Voucher", null)">
                                                <p class="experiences__panel-nav-item-title-1">Redeem Voucher</p>
                                            </a>
                                            <a class="experiences__panel-nav-item-link dropdown-item" href="@Url.Action("Login", "Account", null)">
                                                <p class="experiences__panel-nav-item-title-2">Log Out</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experiences__panel-body">
                        <div class="experiences__panel-section-wrapper">
                            <div class="pre-scrollable">
                                @foreach (var item in Model.Experiences)
                                {
                                    @Html.Partial("_ExperienceSummary", item)
                                }
                            </div>
                            <div class="experiences__panel-line-wrapper">
                                <hr class="experiences__panel-line" />
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="padding-top: 42px; padding-right:50px;">
                                    <p id="basketTotal" class="pull-right">
                                        <span>TOTAL:  </span><span>£ </span><span id="totalPrice"></span>
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <a href="@Url.Action("Checkout", "Cart", null)">
                                        <input class="experiences__panel-button" type="button" value="CONFIRM" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


